---
import Base from '../layouts/Base.astro';
---

<Base title="Archivo | ñam.com">
  <h1>Archivo</h1>
  <p>
    Aquí guardamos TODO.<br>
    ¿Receta extraña de hace un año? Está.<br>
    ¿Foto borrosa de comida? También.<br>
    ¿Historia que pensábamos que nadie leería?  
    Seguro está aquí, esperando tu click.<br><br>
    <i>Este es el rincón de los curiosos y los nostálgicos.<br>
    Explora sin miedo. Nunca se sabe lo que puedes encontrar.</i>
  </p>
</Base>
